.why-strip {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;

}

@media (min-width: 991px) {
    .why-strip {
        height: 128px;
    }
}


.why-vastra .row>div:nth-child(5)>.why-strip,
.why-vastra .row>div:nth-child(4)>.why-strip {
    border-bottom: 1px solid transparent;
}





.why-strip h6 {
    font-family: var(--eye-brow-font);
    text-transform: uppercase;
    font-size: 13px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.why-strip h5 {
    font-size: 17px;
    font-weight: 700;
    font-family: var(--inter);
    letter-spacing: -0.1px;
}