.contact-banner {
    border-bottom: 1px solid #DED3C4;
}


.contact-location {
    color: #fff;
}

/* LEFT INFORMATION */

.contact-info-item {
    display: flex;
    gap: 25px;
    padding: 30px 0;
    border-top: 1px solid #ddd;
}

.contact-info-item:last-of-type {
    border-bottom: 1px solid #ddd;
}

.contact-icon {
    width: 25px;
    min-width: 25px;
    color: #8b2028;
    font-size: 20px;
}

.contact-info-item h6 {
    font-family: var(--eye-brow-font);
    text-transform: uppercase;
    font-size: 13px;
    color: var(--primary-color);
    letter-spacing: 2px;
}




/* QUOTE BOX */

.quote-box {
    background: #eee6d8;
    color: #201b1b;
    border-radius: 8px;
    padding: 35px 32px;
}

.quote-box h4 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 18px;
}



.quote-btn {
    background: #8b2028;
    color: #fff;
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
}

.quote-btn:hover {
    background: #741a21;
    color: #fff;
}


/* STATIC MAP / LOCATION AREA */

.location-box {
    height: 613px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
}


/* Zoom buttons */

.zoom-buttons {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.zoom-buttons button {
    width: 42px;
    height: 40px;
    border: 0;
    background: #fff;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.zoom-buttons button+button {
    border-top: 1px solid #ddd;
}

.zoom-buttons button:hover {
    background: #f5f5f5;
}




/* UNIT CARDS */

.unit-card {
    background: #fff;
    color: #201b1b;
    min-height: 145px;
    padding: 28px;
    border-radius: 9px;
    border: 1px solid #ddd;
}

.unit-card h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.unit-card p {
    margin: 0;
    color: #777;
}


/* RESPONSIVE */

@media (max-width: 991px) {

    .location-box {
        height: 450px;
    }




}

@media (max-width: 575px) {

    .contact-info-item {
        gap: 15px;
    }



    .location-box {
        height: 350px;
    }

    .unit-card {
        min-height: auto;
    }

}